<div id="editstudent">
  <div class="wrapper">
  <h1>Editing Student Profile</h1>
  <h2>Edit or Delete User Profile: <%= link_to 'Edit User', edit_user_registration_path, class: "simple-button blue"%></h2>
    <%= render 'form' %> 
  </div>
</div>