<div id="terms">
	<div class="terms-wrapper">
<h1>Privacy Policy</h1>
<p>The Mock Interview Initiative, which owns and operates the website www.mockinterviewinitiative.com (the "Site"), takes your privacy very seriously. This privacy policy is intended to inform you about the information that is collected from you when you visit the Site; how this information may be used and disclosed; how you can control the use and disclosure of your information; and how your information is protected. If you have any questions about this privacy policy, please contact our privacy team at privacy@mockinterview</p>

<p>1. Scope</p>

<p>This privacy policy applies only to the Site. This policy does not apply to information collected through any other website or to the practices of companies that the Mock Interview Initiative does not control.</p>

<p>2. What information the Site collects</p>

<p>We only collect information that you provided directly to us when signing up to the Site. We ask you to provide:</p>

<p>-Name</p>
<p>-School</p>
<p>-Degree</p>
<p>-Major</p>
<p>-Graduation Year</p>
<p>-Position type you are looking for</p>
<p>-Industry you are looking for</p>

<p>We do not collect information automatically neither do we access information about you from third-party sources and platforms (such as social networking sites, databases, online marketing firms, and ad targeting firms).</p>

<p>3. How we use the information that we collect</p>

<p>a. Search Engine</p>

<p>We use the information that we collect to run the database search: we match our users’ profile - interests and availabilities - to enable them to find peers to practice with. </p>

<p>b. Email communication</p>

<p>We may use the information that we collect to send you e-mail communications, such as information about your account or changes to the Site.</p>

<p>c. Enforcement</p>

<p>We may use the information that we collect to prevent illegal activities, to enforce the Site's Terms and Conditions, and to otherwise protect our rights and the rights of our users. </p>

<p>4. Information Sharing</p>
<p>The Mock Interview Initiative values your privacy, and shares information about our users only under certain circumstances. We only disclose your information to other users who match your profile. In that case, we will disclose your Columbia email address, interests and availabilities: that is how we make sure that users with similar profiles can find each other easily and practice job interviews, while keeping your information safe. </p>

<p>5. Your choices</p>

<p>a. Update your profile</p>

<p>You can modify your personal information at any time by visiting the preferences for your profile. </p>

<p>b. Deactivate your account</p>

<p>You can deactivate your account at any time by visiting the preferences page for your profile. When you deactivate your account, your user profile will be disabled, but your public comments will remain on the site. The Site has no responsibility to take down, remove, or edit any of your public activities or any submissions that are a result of your public activities. For more information, please review our Terms and Conditions. </p>

<p>6. Confidentiality and Security</p>

<p>We limit access to contact information about you to employees or service providers who we believe reasonably need to come into contact with that information to provide products or services to you or in order to do their jobs. We also have adopted commercially reasonable technical, physical, and administrative procedures to help protect information about you from loss, misuse, and alteration. 
Please note that no data transmission or storage can be guaranteed to be 100% secure. We want you to feel confident using the Site, but we cannot ensure or warrant the security of any information you transmit to us.</p> 

<p>7. Changes to the Privacy Policy </p>

<p> We may update this privacy policy at any time to reflect changes in our practices and service offerings. We will notify you of any material changes in the way we treat your information by placing a prominent notice on our site or sending a notice to the primary email address specified in your account. </p>

<h1>Terms and Conditions</h1>

<p>Welcome to The Mock Interview Initiative (“the Site”). Please read these Terms and Conditions before using the Site. By continuing to use us, you agree to abide, and that you are bound, by these Terms and Conditions. We reserve the right to change these Terms and Conditions at any time, and you agree (including by virtue of your continued use of our site) to be bound by any such changes. Unless explicitly stated otherwise, any new features or functionality (including, without limitation, video and related projects) that augment or enhance our site shall be subject to these Terms and Conditions. The most current version of these Terms and Conditions can be viewed at any time at: www.mockinterviewinitiative.com</p>

<p>1. Who is allowed to use the Site</p>

<p>All students affiliated to a Columbia school/department are allowed to register to and use the Site. Therefore, you are required to use your Columbia or Barnard email address (uni@columbia.edu/uni@barnard.edu) in order to sign up. </p>

<p>2. Privacy</p>
<p>Your privacy is very important to us. We designed our Privacy Policy to make important disclosures about how you can use the Site to share with others and how we collect and can use your content and information.  We encourage you to read our Privacy Policy, and to use it to help you make informed decisions.</p>
 
<p>3. Safety</p>

<p>We do our best to keep the Site safe, but we cannot guarantee it. We need your help to keep the Site safe, which includes the following commitments by you:</p>

<p>- You will not collect users' content or information, or otherwise access the Site, using automated means (such as harvesting bots, robots, spiders, or scrapers) without our prior permission.</p>
<p>- You will not upload viruses or other malicious code.</p>
<p>- You will not solicit login information or access an account belonging to someone else.</p>
<p>-You will not use the Site to do anything unlawful, misleading, malicious, or discriminatory.</p>
<p>- You will not do anything that could disable, overburden, or impair the proper working or appearance of the Site, such as a denial of service attack or interference with page rendering or other the Site functionality.</p>
<p>- You will not facilitate or encourage any violations of this Statement or our policies.</p>
 
<p>4. Registration and Account Security</p>

<p>The Site users provide their real names and information, and we need your help to keep it that way. Here are some commitments you make to us relating to registering and maintaining the security of your account:</p>

<p>- You will not provide any false personal information on the Site, or create an account for anyone other than yourself without permission.</p>
<p>- You will not create more than one personal account.</p>
<p>- If we disable your account, you will not create another one without our permission.</p>
<p>- You will not share your password (or in the case of developers, your secret key), let anyone else access your account, or do anything else that might jeopardize the security of your account. </p>

<p>5. Site suspension or account termination</p>

<p>We reserve the right at any time and from time to time to modify or discontinue, temporarily or permanently, our site (or any part thereof) with or without notice. You agree that the Site shall not be liable to you or any third party for any such modification, suspension or discontinuance of our site. In addition, we reserve the right to terminate your access to our site for any reason, and to take any other actions that the Site, in its sole discretion, believes to be in the interest of our company and of our users as a whole.
</p>
</div>
</div>
