<div ng-controller="SigninCtrl">

	<div class="login-row">
		<form id="signin-form" ng-submit="authenticate()">
			<input class="on-dark" type="text" autocomplete="off" placeholder="username or email" ng-model="user.login" id="{{incorrectForm}}">
			<input class="on-dark" type="password" autocomplete="off" placeholder="password" ng-model="user.password" id="{{incorrectForm}}">
			<input type="submit" value="Sign in">
		</form>
	</div>
	<div class="login-row" ng-controller="ForgotPasswordCtrl">
		<div class="input-item">
			<a href="#" ng-click="toggleZippy()"><label>Forgot your password?</label></a>
			<div class="popup-zippy-wrapper" ng-show="zippy">
				<div class="popup-zippy-triangle"></div>
				<div class="popup-zippy clearfix" style="width:300px;">
					<p>Okay, Enter your email below. If it matches our records, you'll get a link to reset your password.</p>
					<form id="reset-password" ng-submit="sendEmail()">
						<input type="text" autocomplete="off" placeholder="email" ng-model="user.email" id="{{invalidEmail}}" on-keyup="validEmail(user.email)">
						<input type="submit" value="Reset!" ng-disabled="{{invalidEmail}}">
						<label ng-show="invalidEmail" class="error-messages">
							That's not an email... yet.
						</label>
						<label ng-show="emailSent">
							Alright, you'll get an email soon.
						</label>
					</form>
				</div>
			</div>
		</div>
		<div class="input-item" style="width:240px;">
			<label class="error-messages on-dark">{{signin.message}}</label>
		</div>
	</div>
</div>		