@CHARSET "UTF-8";

/*-------------------------------------------------------------*/

/*-------------------------------------------------------------*/
/* GLOBAL DEFAULTS */

* { 
	margin:0; 
	padding: 0;
	font-family: 'Lato', sans-serif;
	line-height: 1;
	text-align: left;
}

.clearfix:before,
.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	overflow: hidden;
}

.clearfix:after {
	clear: both;
}

.clearfix {
	zoom: 1; /* IE < 8 */
}


.body{
	background-color: black;
	background-image:url('app/assets/images/pic1.jpg');

}
.container-wrapper {
	margin: 0px auto;
	width: 1000px;
}
#header-wrapper {
	margin: 0px auto;
	width: 980px;
}
.header{
	height:60px ;
	background: #373737;
	border:1px solid #CCC;
	/*width:1440px;*/
	margin:0px auto;
}
.box2{
	margin:0px; 
	padding: 8px;
	text-align:left; 
	box-sizing:border-box;
	-moz-box-sizing:border-box; 
	display: inline-block;
	vertical-align: top;
}
.site-title{
	padding-top: 25px; 
	font-family: 'Indie Flower', cursive;
	color:#FFFFFF;
	font-size: 33px;
	font-weight: 900;
	float: left;
	margin-top: -10px;

}
.carousel-image{
	height:370px;
	width: 550px;
}
#header-nav{
	display: block;
	float: right;
	width: 530px;
	margin-top: 12px;
}

.nav-container{
	height: 50px;
	width:  1440px;
	background:url(white.png);
	margin:-5px auto;

}
.user-container{
	display: block;
	float: left; 
	width: 550px; 
	/*margin-left: 10px;*/
	margin-top: 10px;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 5px; 
	height:370px; 
	padding:10px; 
	overflow:scroll-y;
	/*background-color: #B9D7D9;*/
	/*#668284*/
	/*   background-color: #F4EB90; */
}
.signup-container{
	display: block;
	float:   left;
	width:   400px;
	padding: 10px;
	margin-left: 10px;
	margin-top:15px;

	/* background:#B9D7D9; */
}
#sign-up-box {
	padding: 10px;
	padding-top: 0px;
	border: 1px solid rgb(184, 168, 168);
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	width: 400px
	
	
	/* background-color:rgba(59, 117, 250, 0.1); */
}


#sign-up-box .box-title-wrapper {
	position: relative;
	top: -26px;
	left: 2px;
	width: 128px;
	color: #2b69a4;
}
#sign-up-box .box-title{
	padding:0px;
	background-image:url('satinweave.png');
}

#sign-up-box .box-content {
	position: relative;
	top: -12px;
	margin: 10px;
	clear: left;
}
#sign-up-box .box-content .sign-up-field {
	margin-top: 10px;
	font-size:  13px;

}
#sign-up-box .box-content .sign-up-field .label-wrapper {
	display: block;
	float: left;
	width: 150px;
	line-height: 30px;
	font-family: 'Varela Round', sans-serif;
	font-size: 15px;
}

#cy {
	height: 100%;
	width: 100%;
	position: absolute;
	left: 0;
	top: 0;
}

.columns{
	margin-top: 20px;
	margin-left: 150px;
}
.select{
	width: 200px;
}
.title-p{
	margin-left: 150px;
}
.matches-box{
	margin-left: 150px;
}
.key{
	width: 120px;
	display: inline-block;
	line-height: 2.5;
}
.simple-button {
	font-family: 'Varela Round', sans-serif;
    padding: 5px 10px;
    display: inline;
    background: #777 url(button.png) repeat-x bottom;
    border: none;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    text-shadow: 1px 1px #666;
    }
.simple-button:hover {
    background-position: 0 -48px;
    }
.simple-button:active {
    background-position: 0 top;
    position: relative;
    top: 1px;
    padding: 6px 10px 4px;
    }
.simple-button.red { background-color: #e50000; }
.simple-button.purple { background-color: #9400bf; }
.simple-button.green { background-color: #58aa00; }
.simple-button.orange { background-color: #ff9c00; }
.simple-button.blue { 
	background-color: #2c6da0;
	box-shadow: 1px 1px whitesmoke;
}
.simple-button.black { background-color: #333; }
.simple-button.white { background-color: #fff; color: #000; text-shadow: 1px 1px #fff; }
.simple-button.small { font-size: 75%; padding: 3px 7px; }
.simple-button.small:hover { background-position: 0 -50px; }
.simple-button.small:active { padding: 4px 7px 2px; background-position: 0 top; }
.simple-button.large { font-size: 125%; padding: 7px 12px; }
.simple-button.large:hover { background-position: 0 -35px; }
.simple-button.large:active { padding: 8px 12px 6px; background-position: 0 top; }

.btn-prim{
	margin-left: 400px;
}

.user-fields{
	width: 150px;
	display: inline-block;
}

#sign-in-header{
	background-color: #505050;
	padding: 10px;
	label{
		font-family: 'Varela Round', sans-serif;
		color: white;
		display: inline;
		padding-right: 5px;
	}

	.title{
		font-family: 'Varela Round', sans-serif;
		float: left;
		color: white;
		font-size: 30px;
	}

	.field{
		height: 25px;
		border-radius: 8px;
		display: inline;
		width:150px;
	}

	.header-wrapper{
		width: 1000px;
		margin: 0 auto;
	}

	.simple-button{
		width: 80px;
		text-align: center;
		height: 30px;
		display: inline;
	}
	.form-container{
		float: right;
	}
	.field-with-erros{
		display: inline;
	}

	.email-show{
		float:right;
		color: white;
		font-family: 'Varela Round', sans-serif;
		font-size: 15px;
		display: inline;

	}
}

#sign-up{
	position: relative;
	label{
		font-family: 'Varela Round', sans-serif;
		display: inline;
		padding-right: 5px;
		font-size: 15px;
		line-height: 3;
	}

	.sign-up-container{
		box-shadow: 2px 2px 1px #888888;
		font-family: 'Varela Round', sans-serif;
		margin-top: 20px;
		padding: 0 30px 30px 30px;
		width: 43%;
		float: right;
		border-color: #A8A8A8;
		border: 1px solid;
	}
	.title{
		font-family: 'Varela Round', sans-serif;
		float: left;
		font-size: 30px;
	}

	.field2{
		width: 50%;
		height: 25px;
		border-radius: 8px;
		display: inline;
		float:right;
		margin: 10px 0;
	}

	.sign-up-form-field{
		padding-bottom: 20px;
		display: inline;
	}
	.field-label{
		font-family: 'Varela Round', sans-serif;
		float: left;
		text-align: right;
		line-height: 3;
	}

	.title-wrapper{
		padding-bottom: 30px;
		padding-top: 10px;
	}

	button{
		float:right;
	}

	li{
		color: #C00000;
		font-size: 14px;
	}
	ul{
		list-style: none;
	}
	h2{
		color: #C00000;
		font-size: 14px;
	}
	p{
		line-height: 2;
	}
}
#sign-in-devise{
	.sign-in-container{
		box-shadow: 2px 2px 1px #888888;
		font-family: 'Varela Round', sans-serif;
		margin-top: 20px;
		margin-left: 145px;
		padding: 0 30px 30px 30px;
		width: 30%;
		border-color: #A8A8A8;
		border: 1px solid;
	}
	.title{
		font-family: 'Varela Round', sans-serif;
		float: left;
		font-size: 30px;
	}
	.title:hover{
		text-decoration: none;
	}

	.title-wrapper{
		padding-bottom: 50px;
		padding-top: 10px;
	}
	.field{
		width: 50%;
		height: 25px;
		border-radius: 8px;
		display: inline;
		float:right;
		margin: 10px 0;
	}

	.sign-up-form-field{
		padding-bottom: 20px;
		display: inline;
	}
	.field-label{
		font-family: 'Varela Round', sans-serif;
		float: left;
		text-align: right;
		line-height: 3;
	}

	.errors{
		color: #C00000;
		font-size: 16px;
	}

	button{
		float:right;
	}
}
#terms{
	.terms-wrapper{
		width: 60%;
		background-color: white;
		margin-left: 50px;
		margin-top: 20px;
		border-color: #A8A8A8;
		border: 1px solid;
		box-shadow: 2px 2px 1px #888888;
		padding: 20px;

	}

	h1{
		font-family: 'Varela Round', sans-serif;
		font-size: 20px;
		font-weight: 700;
		color: #2c6da0;
	}
	p{
		font-family: 'Varela Round', sans-serif;
		font-size: 14px;
	}
}