<% if user_signed_in? %>
  <div id="signed-in-header-wrapper">
  	<%=  render 'layouts/signed_in_header' %>
  </div>

<!-- actual index page -->
<% else %>

  <div id ="header-wrapper">
    <div id="header">
      <%= link_to (image_tag "logo_inv.svg", :id=>"logo"), root_path %>

      <div id="header-nav">
        <%= render :partial => "devise/sessions/form"%>
      </div>

    </div>
  </div>


<% end %>

